.main{
	  background-image: url(../img/background.jpeg);
      background-size: cover;}

.header{display: flex;
	    justify-content: center;
	    align-content: : space-between;
        font-family: elsancho; }

.nav-ul{display: flex;
	    text-align: center;
        justify-content: space-between;
        vertical-align: middle;}

.nav-li{display: flex; color: #b30000; 
	    align-items: center;
	    margin-left: 50px;
	    font-size: 30px;}

.nav-logo{margin-left: 70px;
          margin-right: 70px;}

.footer{display: block;
	    position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        text-align: center;}

.footer h3{margin-top: 5px;
	       color: #b30000;
	       font-size: 22px;
	       font-weight: bold;
	       font-style: italic;}

.main_text{font-size: 80px;
           color: #b30000;
  	       display: flex; 
           align-items: center;
           justify-content: center;
           text-align: center;
           margin-top: 200px;
           font-family: cfmexican;}

.story{background-image: url(../img/background.jpeg);
       background-size: cover;}

.story_h3{display: flex;
	      align-items: center;
          justify-content: center;
          text-align: center;
          color: #e6e6e6;
          font-size: 25px;
          margin: 100px 80px auto 80px;;}

.story_p{ display: flex;
	      align-items: center;
          justify-content: center;
          text-align: center;
          color: #e6e6e6;
          font-size: 20px;
          margin: 10px 80px auto 80px;}
.galery{position: relative;
	    background-image:url(../img/back.png);
	    background-size: cover;
	    height: 3500px;
	    background-repeat: no-repeat;
        }
.order{position: relative;
	   background-image: url(../img/background.jpeg);
       background-size: cover;
       }
.menuheader{font-size: 60px;
           color: #b30000;
  	       display: flex; 
           align-items: center;
           justify-content: center;
           text-align: center;
           margin-top: 70px;
           font-family: burrito;
           margin-bottom: 80px;
            }
.menu-wraper{display: flex; 
             align-items: center;
             justify-content: center;
             text-align: center;
             padding-bottom: 200px;
             }
.food{margin-right: 100px; 
	  font-size: 20px;
      color: #b30000;
      font-weight: bold;
      font-family: elrio;
      border-style: double;
      border-width: 12px;
      padding: 15px;
  }
.food li{margin-top: 18px;
}
.food h2{font-size: 30px;
         margin-top: 30px;
     }
.drinks{/*margin-right: 100px;*/ 
	  font-size: 20px;
      color: #b30000;
      font-weight: bold;
      font-family: elrio;
      border-style: double;
      border-width: 12px;
      padding: 15px;
  }
.drinks li{margin-top: 18px;
}
.drinks h2{font-size: 25px;
         margin-top: 20px;
     }
.map{display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     }
.contact_menu{margin-left: 30px;
        }
.contact{background-image: url(../img/background.jpeg);
       background-size: cover;}
 /*form*/
.fname{display: flex;
       flex-direction: column;
       margin-left: 30px;
       font-size: 23px;
   }
.fname label{margin-left: 20px;
}
.fname input{height: 30px;
             width: 330px;
}
.mail{display: flex;
      flex-direction: column;
      margin-left: 30px;
      font-size: 23px;}
.mail label{margin-left: 20px;
}
.mail input{height: 30px;
            width:330px;
}
.sub{display: flex;
     flex-direction: column;
     margin-left: 30px;
     font-size: 23px;}
.sub label{margin-left: 20px;
}
.sub input{height: 30px;
           width: 330px;
}

.msg{resize: none;
	display: flex;
    flex-direction: column;
    margin-left: 30px;
    font-size: 23px;
}
.msg label{margin-left: 20px;
}
.msg input{height: 190px;
           width: 330px;       
}
.msg textarea{height: 100px;
	          resize: none;}
.btn{margin-left: 50px;
}
.btn button{background-color: #2E2E2E;
            height: 33px;
            width: 151px;
            border: none;
            color: white;
            font-size: 20px;
            margin-top: 40px;}
.map{padding-bottom: 150px;
     padding-top: 100px;}
.contact{position: relative;}